* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font style */
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* nav style */
.navBar {
    max-width: 1160px;
    height: 102px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    width: 22.5px;
    height: 15px;
    visibility: hidden;
}

.nav-img {
    display: flex;
    align-items: center;
}

.nav-img-heading {
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
    margin-left: 11px;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navLink li {
    list-style: none;
}

.navLink li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.nav-btn {
    border-radius: 12px;
    background: rgb(254, 163, 1);
    width: 197px;
    height: 50px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.nav-home {
    color: rgb(254, 163, 1);
}

.nav-about {
    color: rgb(1, 172, 253);
}

.nav-fac {
    color: rgb(5, 212, 223);
}

.nav-admis {
    color: rgb(93, 88, 239);
}

.nav-hr {
    border: 1px solid orange;
    visibility: hidden;
}

/* hero section */
.hero {
    max-width: 1158px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-heading {
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}

.hero-description {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 24px;
}

.hero-btn {
    font-size: 20px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    width: 197px;
    height: 50px;
    border: none;
    margin-top: 34px;
}

.hero-empower{
    color: rgb(254, 163, 1);
}

.hero-toward{
    color: rgb(1, 172, 253);
}

.hero-img{
    width: 100%;
}










/* small device */
@media screen and (max-width: 576px) {

    /* nav bar */
    .nav-menu {
        visibility: visible;
        margin-right: 20px;
    }

    .nav-logo {
        margin-left: 10px;
    }

    .nav-img-heading {
        display: none;
    }

    .navLink-container {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .nav-hr {
        visibility: visible;
    }


    /* hero section */
    .hero{
        flex-direction: column-reverse;
    }

    .hero-content{
        text-align: center;
        padding: 10px;
    }

    .hero-heading{
        font-size: 35px;
        line-height: 42px;
    }

    .hero-img-container{
        margin-left: 0px;
        padding: 15px;
    }

    .hero-btn {
        font-size: 16px;
        width: 131px;
        height: 42px;
        border: none;
        margin-top: 34px;
    }

    .hero-description{
        font-size: 14px;
    }

    .hero-br{
        display: none;
        }
    
}